.c-darkgray {
  color: $gray-700;
}

.c-gray {
  color: $gray-500;
}

.c-red {
  color: $red-500;
}

.c-white {
  color: $white;
}

.ff {
  font-family: sans-serif;
}

.h-250p {
  height: 250px;
}

.p-fixed {
  position: fixed;
}

.rounded-30p {
  border-radius: 30px;
}

.w-500p {
  width: 500px;
}